{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}


    {% for item in page.gallery_images.all%}
    <div style="float: inline-start; margin: 10px">
        {% image item.image fill-320x240 %}
        <p>{{ item.caption }}</p>
    </div>

    {% endfor %}


    {% with authors=page.authors.all%}
    {% if authors %}
<h2>Written By</h2>
<ul>
    {% for author in authors %}


<li>
    {% image author.author_image fill-40x60 style="vertical-align: middle" %}
    {{ author.name }}
</li>
{% endfor %}
    </ul>

    {% endif %}
    {%endwith %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>



    {% with tag=page.tag.all %}
    {%if tag%}
<h3>Tags</h3>
{% for tag in tag%}
<a href="{% slugurl 'tag'%}?tag={{tag}}"><button>{{tag}}</button></a>
{%endfor %}
    {% endif %}
    {% endwith %}
{% endblock %} 