
{% load navigation_tags %}

<footer>
<p>Footer is starting </p>
{% with instagram=settings.base.Navigation.instagram github=settings.base.Navigation.github  %}
        {% if github or instagram  %}
            <p>
                Follow me on:
                {% if github %}
                    <a href="{{ github }}">GitHub</a>
                {% endif %}
                {% if instagram %}
                    <a href="{{ instagram }}">instagram</a>
                {% endif %}
            
            </p>
        {% endif %}
    {% endwith %}

    {% get_footer_text %}



    </footer>